@import url('https://fonts.googleapis.com/css?family=Amaranth|Forum&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family:'Forum', cursive;
}

body h1 {
  font-family:'Amaranth', sans-serif;
}

/******************Navigation*********************/



/******************Landing Page *******************/
#home-text {
  margin: auto;
}

#home {
  background: url('/assets/img/map.jpg') no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}


.landing-text {
    display: table-cell;
  text-align: center;
  vertical-align: middle;


}

.landing-text h1 {
  font-size: 5em;
}

.landing-text h3 {
    padding: 30px;
}
.landing-text h5 {
    padding: 30px;
}

.landing-text h5 a {
    color:brown;
}

/******************Ogham Map Info*********************/

.clearfix {
    clear: both;
}

.mapInfo {
    background-color: #f9f9f9;
    border: 1px solid #f8f9fa;
}

.text-center h2 {
    padding-top: 20px;
}

.text-center h5 {
    color: #410912;
}

.ogham-img {
    width : 100px;
}
/******************Ogham Map*********************/
.col-sm-9 .mapBox {
    margin: 0px;
    padding: 0px;
}

#map {
  height: 600px;
  width: 100%;
  margin: 0px;
  padding: 0px;
} 

/******************3D*********************/
#infoPage .lead {
    margin: 0px;
}

#infoPage p {
    padding: 20px;
}


/******************footer*********************/
#footer {
    background-color: #f9f9f9;
}
#footer p {
    padding: 0px 20px;
}
