@import url('https://fonts.googleapis.com/css?family=Amaranth|Forum&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family:'Forum', cursive;
}

body h1 {
  font-family:'Amaranth', sans-serif;
}

/******************Navigation*********************/



/******************Landing Page *******************/
#home-text {
  margin: auto;
}

#home {
  background: url('/assets/img/map.jpg') no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
}

.landing-text {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 5em;
}

.landing-text h3 {
  margin: 30px;
}

#home .landing-text p {
    margin-bottom: 2em;
}

#home h5 {
    padding-bottom: 20px;
}

.landing-text .btn .btn-danger {
    margin: 50px;
}

#home a.btn.btn-danger {
    padding-top: 20px;
}

/******************Landing Page Media Query*********************/

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 350%;
  }
}

/******************Ogham Map*********************/
.row.mapPage {
  height: 1500px;
}
    
.sidenav {
      background-color: #f1f1f1;
      height: 100%;
}
    
.mapBox {
  background:rgb(241, 243, 245);
  margin: 0px;
  padding: 0px;
}
.sidenav h4 {
  padding-top: 20px;
}

#map {
  height: 600px;
  width: 1100px;
  margin: auto;

}   

/*********Using the map*************/
.nav-tabs li a {
  padding-right: 20px;
  color: #d9534f;
  text-decoration: none;
}

.nav-tabs li a:hover {
  color: #973A37;
}

.tab-content {
  padding-top: 20px;
}

/**********************/
/**********************/
/**********************/
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }