@import url('https://fonts.googleapis.com/css?family=Amaranth|Forum&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family:'Forum', cursive;
}

body h1 {
  font-family:'Amaranth', sans-serif;
}

/******************Navigation*********************/



/******************Landing Page *******************/
#home-text {
  margin: auto;
}

#home {
  background: url('/assets/img/map.jpg') no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: lighten;
}

.landing-text {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  font-size: 5em;
}

.landing-text h3 {
  padding: 30px;
}

/******************Landing Page Media Query*********************/

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 350%;
  }
}

/******************Ogham Map*********************/
#mapPage {
  padding-top: 50px;
}

#map {
  height: 600px;
  width:600px;
  margin: auto;

}