@import url('https://fonts.googleapis.com/css?family=Amaranth|Forum&display=swap');
 body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
}
 body {
     font-family: 'Forum', cursive;
}
 body h1 {
     font-family: 'Amaranth', sans-serif;
     color: #b46812;
     font-size: 3rem;
}
 body h2 {
     color: #b46812;
}
/******************Navigation*********************/
 .navbar-light .navbar-nav .nav-link {
     color: #410912;
}
 #navbarSupportedContent a:hover {
     color:#b46812;
}
 .ogham-img{
     width: 100px;
}
/******************Landing Page *******************/
 #home-text {
     margin: auto;
}
 #home {
     background: url('../img/vintage-map.jpg') no-repeat center center fixed;
     display: table;
     height: 800px;
     position: relative;
     width: 100%;
     background-size: cover;
     background-color: rgba(255, 255, 255, 0.8);
     background-blend-mode: lighten;
}
 .landing-text {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}
 .landing-text h3 {
     padding: 30px;
}
 .landing-text h5 {
     padding: 30px;
}
 .landing-text h5 a {
     color: brown;
}
 .text-center {
     background-color: #f9f9f9;
}
 .btn-custom {
     background-color: #f0daa8;
     color: #410912;
}
/******************Ogham Map Info*********************/
 .clearfix {
     clear: both;
}
 .mapInfo {
     background-color: #f9f9f9;
     border: 1px solid #f8f9fa;
     height: 600px;
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
}
 #oghamMap h2 {
     color: #b46812;
     padding-top: 20px;
}
 #oghamMap h5 {
     color: #410912;
}
 .fontAwesome {
     font-size: 30px;
}
/******************Ogham Map*********************/
 .col-sm-9 .mapBox {
     margin: 0px;
     padding: 0px;
}
 #map {
     height: 600px;
     width: 100%;
     margin: 0px;
     padding: 0px;
}
/******************infowindows***************************/
 .infoWindowSize img {
     width: 200px;
}
 .btn-default {
     background-color:#b46812;
     color: white;
     cursor: pointer;
     text-align: center;
}
 .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
     background-color:#cd861c;
     color:#FFF;
     border-color: #31347B;
}
 .gm-style-iw {
     width: 200px;
     min-height: 150px;
}
 .iwContent p {
     width:200px;
     padding-top: 10px;
}
/*global max-width breaks in Google Maps*/
 #map img {
     max-width: none;
}
/***********3D iframes*********************/
 .clearfix {
     clear: both;
}
 #infoPage p {
     padding: 10px;
}
 #info-page .col-lg-6 .col-sm-12 {
     margin: 0 auto;
}
 .stonesOne {
     padding: 0px;
     margin: 0px;
}
/******************accordian*********************/
/*styling the accordian */
 .ogham-accordian {
     width: 100%;
}
 .accordian {
     background-color: #b46812;
     color: white;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: center;
     border: 1px solid white;
     transition: 0.4s;
     font-size: 20px;
     outline: none;
     border-radius: 4px;
}
 .panel {
     padding: 0 18px;
     background-color: linen;
     overflow: hidden;
     max-height: 0;
     transition: max-height 0.2s ease-out;
}
 .panel p {
     font-size: 16px;
     padding-top: 10px;
}
 .active, .accordian:hover {
     background-color: #cd861c;
}
 .accordian:after {
     content: '\02795';
     font-size: 10px;
     float: right;
     margin-left: 5px;
}
 .active:after {
     content: '\2796';
}
 .sketchfab-embed-wrapper {
     text-align: center;
}
/*styling the accordian */
/*styling img*/
 .panel img {
     height: 200px;
     padding-top: 10px;
}
/*styling iframe*/
 .img-container p {
     font-size: 13px;
     font-weight: normal;
     margin: 5px;
}
 .img-container a {
     color: #1CAAD9;
}
 .iframe {
     width: 440px;
     height: 280px;
}
/******************modal*********************/
 .modalInfo {
     padding-top: 30px;
}
 .modal-body {
     text-align: left;
}
/******************footer*********************/
 #footer {
     background-color: #f9f9f9;
     padding-top: 30px;
     padding-bottom: 30px;
}
 #footer p {
     padding: 0px 20px;
}
 #footer .container span {
     color:#cd861c;
     font-size: 15px;
}
/******************about page***************************/
 .aboutUs {
     margin-top: 70px;
}
 .aboutUs h2 {
     color:#b46812;
}
 .aboutUs h4 {
     color: #cd861c;
}
 .bgcolor-skyblue {
     background:#eaf0f9;
}
 .col-lg-8 {
     background-color: rgba(248, 245, 245, 0.7);
}
 .aboutImg img {
     width: 100%;
}
 .well {
     min-height: 20px;
     padding: 19px;
     margin-bottom: 20px;
     background-color: #f5f5f5;
     border: 1px solid #e3e3e3;
     border-radius: 4px;
     box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
 .well h4 {
     color: #410912;
}
 .col-md-4 {
     background-color: white;
}
 .center-form {
     width: 100%;
}
 .center-block {
     margin-top: 20px;
}
 .list-group-item {
     font-size: 13px;
}
 .list-group {
     margin: 0em;
     display: block;
     width: 100%;
}
/******************media query***************************/
 @media screen and (max-width: 767px) {
     .sidenav {
         height: auto;
         padding: 15px;
    }
     .row.content {
        height: auto;
    }
}
